# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/

# Cache
.temp
.cache

# Logs
*.log

# Debug files
*.tsbuildinfo

# IDE specific files
.idea/
.vscode/
*.swp
*.swo